:root {

  --primary: #e15f40;
  --secondary: #764ba2;

  --background: #f8fafc;
  --card-bg: rgba(255,255,255,0.95);

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --shadow-main:
    0 8px 32px rgba(31, 38, 135, 0.08);

  --radius-main: 20px;
}
